/* Don't forget to vendor prefix */

*:not(.letsGo-animate) {
    -webkit-transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
    transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
}

html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #f8f8f8;
}

body {
    font-family: 'Roboto';
    padding-bottom: 30px;
}

h1 {
    font-weight: 700;
    /*text-align: center;*/
    font-size: 70px;
    color: #02A6A9;
    margin-top: 50px;
}
h2 {
    font-weight: 500;
    margin-bottom: 30px;
    /*text-align: center;*/
    font-style: italic;
}

p#about {
    margin-top: 15px;
    font-size: 18px;
    /*max-width: 458px;*/
}

p {
    margin: 0;
}

.category {
    margin-top: 50px;
    margin-bottom: 40px;
}

#social a {
    margin-right: 15px;
    font-size: 18px;
}

#social a:active, #social a:focus, #social a:visited {
    text-decoration: none;
    color: #333;
}

#social a:hover {
    text-decoration: none;
    color: #02A6A9;
}

.card-card {
    display: block;
    min-height: 270px;
    background-color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.card-card:hover {
    box-shadow: 0 1px 7px 0 #a0a0a0
}

.beta {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #02A6A9;
    background-color: #fff;
    font-size: 18px;
    border-radius: 3px;
    padding: 2px 5px;
}

a.card-card, a.card-card:hover, a.card-card:focus, a.card-card:active, a.card-card:visited {
    text-decoration: none;
    color: #333;
}



.card-logo {
    height: 90px;
}

.card-logo svg {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 45px;
    fill: #fff;
}



#card-frow .card-logo {
    background-color: #2A6A9A;
}

#card-letsgo .card-logo {
    background-color: #4EF1C5;
}

#card-internrocket .card-logo {
    background-color: #F44336;
}

#card-begin .card-logo {
    background-color: #12D8B7;
}

#card-qikpix .card-logo {
    background-color: #00c6e0;
}

.card-info {
    padding: 25px 15px 15px;
}

.card-title {
    font-size: 23px;
    /*text-align: center;*/
    font-weight: 400;
    margin: 10px 0;
}

.card-position {
    margin-top: 17px;
    font-weight: 400;
    /*font-style: italic;*/
}
